
.main{

    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

.icon{

    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
    border: 2px solid rgb(187, 187, 187);

}

#homeHeader{
    height: 58px;
    width: 100%;
    position:fixed;
    background-color: #91c092;
    border-bottom: 2px solid hsl(121, 27%, 56%);
    box-shadow: 0 2px 12px 8px rgba(0, 0, 0, 0.403);
    z-index: 1;
}

#headerOptions{

    text-align:center;
    width:100%;
    padding-left: 40px;
}


.sideBox{    
    background-color:hsl(0, 0%, 91%);
    width: 300px;
    height: 100%;
    border-right: 2px solid hsl(0, 0%, 70%);
}

.sidePanel{
    z-index: 0;
    position: fixed;
    bottom:275px;
    padding-top: 10px;
    padding-left:5px ;
    width: 290px;
    height: 400px;
}

#sideButton{
    position: fixed;
    width:250px;
    height:50; 
    background-color: hsl(0, 0%, 78%);
    border: 1px solid hsl(0, 0%, 70%);
    padding-left: 20px;
    font-size: 1.2rem;
    text-align: justify;
    text-decoration: none;
    color: black;
}

.postWindow{
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.postHeader{

    padding: 10px;
    text-align: justify;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(186, 186, 186);


}

.PostBody{
    min-height: 450px;
    max-height: 450px;
    overflow-wrap: break-word;
    padding: 20px;
    padding-top: 10px;
    text-align: justify;


}

.postFooter{
    border-top: 1px solid rgb(186, 186, 186);
    font-size: 0.8rem;
    color: rgb(151, 154, 157);
    display : table-row;
    vertical-align : bottom;
}

.searchWindow{
    width: 600px;
    min-height: 200px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(174, 174, 174);
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(128, 128, 128);
    margin-bottom: 30px;
}

.post{
    width: 600px;
    min-height: 600px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(174, 174, 174);
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(128, 128, 128);
    margin-bottom: 30px;
}

/* window with profile info */
.profileWindow {
    margin-bottom: 2%;
    text-align: center;
    width: 1100px;
    height: 450px;
    border: 10px solid rgb(78, 163, 121);
    border-radius: 1rem;
    background-color: lightgreen;
}

/* for images that are profile pictures (circle) */
.profilePic {
    width: 200px;
    height: 200px;
    border-radius: 85%;
    border: 6px solid rgb(25, 143, 35);
    position: relative;
    right: 40%;
    top: 5%;
}

.personalInfoWindow {
    height: 200px;
    width: 600px;
    background-color: aliceblue;
    position: relative;
    left: 20%;
    bottom: 40%;
    box-shadow: 0px 0px 10px 0px rgb(128, 128, 128);
    word-wrap: break-word;
}

.personalInfoText {
    position: relative;
    margin: auto;
    text-align: left;
    display: block;
}

.emphasisText {
    color: red;
    font-size: large;
}

.descriptionWindow {
    height: 200px;
    width: 800px;
    background-color: aliceblue;
    position: relative;
    bottom: 37%;
    left: 3.5%;
    box-shadow: 0px 0px 10px 0px rgb(128, 128, 128);
    text-align: left;
}

.descText {
    font-size: larger;
    display: block;
}

/* found below the profileWindow, about how the you can see posts from this user*/
.morePostsWindow {
    width: 1170px;
    height: 80px;
    background-color: rgb(109, 202, 109);
    margin: auto;
    margin-bottom: 2%;
}

.highlight:hover{
    filter: brightness(85%);
}

#button{
    height: 50px;
    width:100px;
    background-color: #a5d2a6;
    border: 2px outset #91c092;
}

body{
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    background-color: rgb(216, 216, 216);

}

/* LOGIN styles */

/* log in button */
.loginbutton {

    color: black;
    text-decoration: none;

}

/* header 1 (LOG IN) */
h1 {
    /* margin-left: 900px;  */
    margin-top: 30px;  
}

/* log in container box */
.logincontainer {
    width: 700px;
    height: 700px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}

/* input details container box */
.inputcontainer {
    width: 500px;
    height: 300px;
    background-color: #a5d2a6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}

/* div for like, comment, and/or share buttons*/
.reactionbar{
    background-color: white;
    margin-top:10px;
    font-size: 0.8rem;
    color: rgb(151, 154, 157);
    display : table-row;
    vertical-align : bottom;
    width: 900px;
    height: 40px;
}

.likeButton{
    position:relative;
    height: 20px;
    width:55px;
    background-color: green;
    border: 2px outset #91c092;
    top: 10px;
    text-align: center;
    margin-left: 15px;
    float: left;
    color: white;
}

.likeButton:hover{
    background-color:darkgreen;
}

.likebutton:active {
    background-color: #a5d2a6;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
  }

.dislikeButton{
    position:relative;
    height: 20px;
    width:55px;
    background-color: red;
    border: 2px outset #91c092;
    top: 10px;
    text-align: center;
    margin-left: 15px;
    float: left;
    color: white;
}

.dislikeButton:hover{
    background-color: darkred;
}

.dislikeButton:active {
    background-color: lightcoral;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
  }

.shareButton{
    position:relative;
    height: 20px;
    width:55px;
    background-color: blue;
    border: 2px outset #91c092;
    top: 10px;
    text-align: center;
    margin-right: 15px;
    float: right;
    color: white;
    }

.shareButton:hover{
    background-color: navy;
}

.shareButton:active {
    background-color: lightblue;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
  }

/*parent div of entire comments section*/
.commentsection{
    width: 900px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(174, 174, 174);
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(128, 128, 128);
    margin-bottom: 30px;

}

/* div of each indidual comment, user, icon, and words */
.message{
    margin-bottom: 0px;
    max-width: 100%;
    max-height: fit-content;
}

/* div user image in comments*/
.commentIcondiv{
    float:left; margin-right: 10px;
}

/* user image refit for comments*/
.commenticon{
    width:18px;
    height:18px
}

/*div for usernames of commenters*/
.user {
    float:left; font-weight:bold; color:#009; margin-bottom: 5px;
}

/*div for the actual content of comments*/
.comment{
    margin-left: 30px;font-style:italic; color:black;
    overflow-wrap:break-word;
}

/*p for login to comment message*/
#loginmessage{
    color: gray;
    margin-top: auto;
    margin-bottom: auto;
    font-style: italic;

}
