
.main{

    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

.icon{

    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
    border: 2px solid rgb(187, 187, 187);

}

#homeHeader{
    height: 58px;
    width: 100%;
    position:fixed;
    background-color: #91c092;
    border-bottom: 2px solid hsl(121, 27%, 56%);
    box-shadow: 0 2px 12px 8px rgba(0, 0, 0, 0.403);
    z-index: 1;
}

#headerOptions{

    text-align:center;
    width:100%;
    padding-left: 40px;
}


.sideBox{
    
    background-color:hsl(0, 0%, 91%);
    width: 300px;
    height: 100%;
    border-right: 2px solid hsl(0, 0%, 70%);
}

.sidePanel{
    z-index: 0;
    position: fixed;
    bottom:275px;
    padding-top: 10px;
    padding-left:5px ;
    width: 290px;
    height: 400px;
}

#sideButton{
    position: fixed;
    width:280px;
    height:50; 
    background-color: hsl(0, 0%, 78%);
    border: 1px solid hsl(0, 0%, 70%);
    padding-left: 20px;
    font-size: 1.2rem;
    text-align: justify;
}

.postWindow{
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.postHeader{

    padding: 10px;
    text-align: justify;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(186, 186, 186);


}

.PostBody{
    height: 450px;
    padding: 20px;
    padding-top: 10px;
    text-align: justify;

}

.postFooter{
    border-top: 1px solid rgb(186, 186, 186);
    font-size: 0.8rem;
    color: rgb(151, 154, 157);
    display : table-row;
    vertical-align : bottom;
}

.post{
    width: 600px;
    height:600px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(174, 174, 174);
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(128, 128, 128);
    margin-bottom: 30px;
}

.highlight:hover{
    
    filter: brightness(85%);

}

#button{
    height: 50px;
    width:100px;
    background-color: #a5d2a6;
    border: 2px outset #91c092;
}

body{
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    background-color: rgb(216, 216, 216);

}

/* LOGIN styles */

/* log in button */
.loginbutton {

    color: black;
    text-decoration: none;

}

/* header 1 (LOG IN) */
h1 {
    margin-left: 900px; 
    margin-top: 30px;  
}

/* temporary note */
p {
    margin-left: 735px;
}

/* log in container box */
.logincontainer {
    width: 700px;
    height: 700px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}

/* input details container box */
.inputcontainer {
    width: 500px;
    height: 300px;
    background-color: #a5d2a6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}
